<% provide(:title, "Informate") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
  </head>
  <body>
    <div class="center jumbotron">
      <h1>Infórmate</h1>
      <h3>Este espacio está abierto para que lo consultes, lo copies o lo distribuyas.<h3>
      <h3>Pensamos que la información es fundamental para prevenir y erradicar todo tipo de violencias.</h3>
    </div>
     <br><br>
    <h3>
      Este es un artículo sobre 
      <a href="http://www.lai.fu-berlin.de/es/e-learning/projekte/frauen_konzepte/projektseiten/">Mujeres y Género en América Latina.</a>
      </h3>
  </body>
</html>